In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## SET THE COLOR THEME FOR SEABORN
sns.set_theme(color_codes=True)

# PANDAS DATA FRAME TO DISPLAY ALL COLUMNS
pd.set_option('display.max_columns',None)
# PANDAS DATA FRAME WITH 2 DECMIMAL PLACES
pd.set_option('display.float_format', lambda x: '%.2f' % x)


from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn.model_selection import train_test_split, cross_val_predict

In [19]:
# READ THE CSV FILE INTO DATAFRAME
df = pd.read_csv('bank-full.csv', encoding='unicode_escape')

In [20]:
# DISPLAY THE TOP FIVE ROWS OF THE DATAFRAME
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [4]:
## SHAPE OF THE DATAFRAME
df.shape

(45211, 17)

In [32]:
df1 = df[(df['balance']>1000) & (df['duration']>200) & (df['age'] > 25)]

In [33]:
# FILTER COLUMNS 
filtered_linear_df=df1.iloc[:,[0,5,11]] # METHOD 3 USING -iloc

In [34]:
filtered_linear_df.head()

    age  balance  duration
0    58     2143       261
34   51    10635       336
50   54     1291       266
70   57     5935       258
83   59     2343      1042

In [35]:
filtered_linear_df.tail()

       age  balance  duration
45199   34     1475      1166
45204   73     2850       300
45207   71     1729       456
45208   72     5715      1127
45210   37     2971       361

In [51]:
filtered_linear_df.shape

(6721, 3)

In [48]:
X = filtered_linear_df[['age']]
y = filtered_linear_df['duration']

In [52]:
reg_model = LinearRegression().fit(X,y)

In [ ]:
constant = reg_model.intercept_[0] ## intercept is referred as constant

1723.1941023261602

In [ ]:
w = reg_model.coef_[0][0] # value of w